################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/node_modules
/public/lib
.vscode/launch.json
npm-debug.log
/backEndSvr/node_modules
/backEndSvr/public/lib
/backEndSvr/.vscode/launch.json
/backEndSvr/npm-debug.log