################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/node_modules
/public/lib
/config
/obj
/.vscode
/backEndSvr/node_modules
/backEndSvr/public/lib
/backEndSvr/obj
/backEndSvr/.vscode
*.sln
*.suo
*.dat
*.log
*.njsproj
*.cache
*.txt