<div class="container information">
	<h2 align="center">中国农业银行首推农民群体专属个人房贷产品</h2>
	<p class="comment">2016-02-17 08:07</p>
	<p class="comment">来源：人民日报</p>
	<hr/>
	<p>
		原标题：农行首推农民专属房贷产品
	</p>
	<p>
		本报北京2月16日电 （记者朱隽）为解决农民进城购房能力不足、与一般房贷条件不匹配等问题，中国农业银行近日推出农民专属的个人住房贷款产品“农民安家贷”。据介绍，该产品是国内首个专门针对农民群体的个人住房贷款产品。
	</p>
	<p>
		“农民安家贷”通过一系列优化措施，优化准入门槛，制定符合农民特点的评分准入标准，解决农民融资难问题；简化收入认定，允许收入证明书， 或收入声明加银行收入流水，或政策性融资担保机构增信证明等形式，破解农民收入证明难问题；降低贷款成本，对首付款比例达到30%及以上的贷款，
		实行优惠利率，并鼓励因地制宜，提供利率优惠，解决农民融资贵问题；提供灵活还款方式，针对农民收入的季节性特点，除按月外，增加按季、半年及按年等还款方式， 对提前还款免收违约金，缓解农民还款压力。
	</p>
</div>