<div class="container information">
	<h2 align="center">提醒：定期查询个人信用报告 避免背“黑锅”</h2>
	<p class="comment">2016-02-17 08:47</p>
	<p class="comment">
		来源：
		<a href="http://www.cnfol.com/" target="_blank">中金在线</a>
	</p>
	<hr/>
	<p>
		随着互联网及互联网金融快速发展，个人信用作为隐形的“经济身份证”在社会中扮演着越来越重要的角色。 日常生活中居民申请房贷、车贷、信用卡等都需要个人信用。近期，监管层还下调了查询征信费用。 专家建议，居民充分利用好征信免费查询次数，养成定期查询个人信用报告的习惯，珍惜个人征信。
	</p>
	<p>
		一年至少查询一次信用报告，避免背“黑锅”
	</p>
	<p>
		自从2014年公民可以查询个人征信情况以来，征信情况良好的话，银行贷款还会有优惠。此外，还可以了解个人征信中是否存在错误的地方、避免造成不必要的信用污点。了解个人信用情况还能知道哪些机构查询了个人信用，保护个人信用不被乱用。
	</p>
	<p>
		个人信用报告使用范围很广，如商业银行贷款、信用卡审批和贷后管理等。此外，还用于任职资格审查、员工录用等许多环节中。信用报告可以节省银行审贷时间，快速获得贷款。主动了解自己的信用报告，对其中可能错误的信息要及时向征信中心或业务发生银行提出申请纠正，避免带来不利影响。
	</p>
	<p>
		对于没有申请贷款或者信用卡需求的人士，专业人士也建议一年内至少查询一次信用报告，了解自身征信情况，避免他人冒用自己身份获得贷款，了解是否存在错误信息，违规查询个人信用情况。
	</p>
	<p>
		央行征信中心表示，即使这一年都没有任何的需求，不需要贷款也不需要申请信用卡，我们也建议市民一年至少查一次信用报告，以避免别人盗用自己的身份去办了卡或办了房贷。
	</p>
	<p>
		三个渠道可以查询个人征信
	</p>
	<p>
		目前查询个人征信方式主要有三种方式：一是可以前往所在地中国人民银行分支机构进行现场查询；二是通过互联网查询本人信用报告服务；三是网银查询、商业银行代理查询等其他服务渠道。
	</p>
	<p>
		自2016年1月15日起，个人到柜台查询个人信用报告，每年第3次起的收费标准由现行每次25元降低至10元，通过互联网查询及每年前2次到柜台查询继续实行免费。
	</p>
	<p>
		网上查询个人信用报告攻略
	</p>
	<p>
		第1步：打开中国人民银行征信中心官方网站(https://ipCrs.pbccrc.org.cn)，进入个人信用信息服务平台，点击左上角用户注册。
	</p>
	<div align="center">
		<img src="/img/information/001-01.jpg"></img>
	</div>
	<p>
		第2步：填写个人真实姓名和身份证号码等资料。
	</p>
	<div align="center">
		<img src="/img/information/001-02.png"></img>
	</div>
	<p>
		第3步：设置密码，需要注意密码必须包含大写字母、小写字母和数字。
	</p>
	<div align="center">
		<img src="/img/information/001-03.jpg"></img>
	</div>
	<p>
		第4步：身份验证，建议选择问题验证，方便快捷。
	</p>
	<div align="center">
		<img src="/img/information/001-04.jpg"></img>
	</div>
	<div align="center">
		<img src="/img/information/001-05.jpg"></img>
	</div>
	<p>
		第5步：完成注册后，24小时内，征信中心会发送一枚身份验证码短信到你的手机上，收到短信后重新登录，在下方输入身份验证码即可查看个人征信报告了。
	</p>
	<div align="center">
		<img src="/img/information/001-06.png"></img>
	</div>
	<p>
		个人信用报告就长这个样子↓
	</p>
	<div align="center">
		<img src="/img/information/001-07.jpg"></img>
	</div>
</div>