<div class="container information">
	<h2 align="center">2.5万亿贷款投向何处？政府加速加杠杆</h2>
	<p class="comment">2016-02-17 09:09</p>
	<p class="comment">
		来源：
		<a href="http://www.caixin.com/" target="_blank">财新网</a>
	</p>
	<hr/>
	<p class="comment">
		新增信贷主要投放向基础设施建设和个人按揭贷款；“早放贷早收益”用到极致，储备项目释放过快，后续可能增长乏力
	</p>
	<br/>
	<p>
		创下单月投放最高历史记录的1月新增贷款，最终多投向了政府类项目，平台类贷款被证明依旧是最好的资产。
	</p>
	<p>
		2月16日，央行公布数据显示，1月人民币贷款增加2.51万亿元，同比多增1.04万亿元。这一数据也间接印证了上月下旬传出的央行流动性管理座谈会纪要的数据，即1月上半个月信贷投放已经超过1.7万亿元。
	</p>
	<p>
		且财新记者获悉，确实有银行接到窗口通知，月末信贷投放上进行了压控，因此2.5万亿元还是调控后的数据。
	</p>
	<p>
		此前财新记者采访多位银行人士，个人住房按揭贷款、保障房开发贷、土地一级开发贷、政府平台贷款和交通运输业及批发零售业，是新增贷款的主要投向。同时，值得注意的是，曾做大量内保外贷或发美元债券的企业，在年初提前偿还美元债务，而改用人民币贷款，也是人民币信贷放量的原因之一。（见财新网
		<a href="http://finance.caixin.com/2016-01-26/100903799.html" target="_blank">“1月上半月信贷惯性冲高 预计月末回落”</a> ）
	</p>
	<p>
		“开门红”是银行在长期的惯性经营行为，加之市场利率下行，今年银行的迅速“卡位”尤其明显。一位兴业银行江浙地区人士告诉财新记者，“全部都是以前的储备项目尽快落地，早一天落地早一天锁定收益。”
	</p>
	<p>
		中金债券研究团队认为，“早放贷早收益属于最为传统的提高收益方式之一，只是今年应用到了极致。”
	</p>
	<p>
		从贷款结构上看，新增信贷主要投放向基础设施建设和个人按揭贷款。央行数据显示，企业类中长期贷款增加1.06万亿元，这也是历史新高。
	</p>
	<p>
		一位城商行人士对财新记者指出，目前贷款主要投放地产类20%、生产性企业30%、政府性项目50%，其中政府性项目包括债务置换，约占整体10%。据其透露，目前有政府类项目利用政府信用，一个项目多方融资的情况出现，“政府在加杠杆。”
	</p>
	<p>
		一位大行东部沿海地区的分行长也透露，目前都是大力投政府类项目。“政府项目贷得期限越长越好，十年、二十年都好，大家都是政绩思维，反正几十年过去，当地领导班子换了，银行领导班子也换了。考核没办法。”他指出，目前该地工商企业投资缩减了2/3以上，“目前环境不好，需要投资的是政府的项目，铁路、交通轨道是要投资。”
	</p>
	<p>
		此前一位国开行中部地区人士指出，这两年是交通投资大年，公路、铁路都大发展，“铁路投资有的是钱。”
	</p>
	<p>
		中金债券研究团队指出，主要是银行将去年下半年累积的政府平台贷款集中释放，一方面是配合稳增长通过基建投资发力的需要，另一方面也是专项金融债项目配套贷款的投放。
	</p>
	<p>
		个人按揭贷新增也很突出。一位工行长三角地区的分行副行长告诉财新记者，“去年末信贷规模批了也没发，今年年初集中投放，其中个人按揭贷占新增的一半以上。”
	</p>
	<p>
		中金债券团队分析指出，1月居民类贷款也增长6000亿元，创历史新高，其中居民中长期贷款4783亿元也是单月新高，主要是银行将去年四季度的按揭贷款集中在年初投放。今年政府鼓励房地产去库存，后续可能通过各项政策刺激居民买房，居民房贷还会保持在相对高位。
	</p>
	<p>
		前述兴业人士也指出，目前个人按揭贷款非常多，很多地区的首付比例早已事实性下降，多家银行的首套房利率也下降，甚至有投资房产抄底的苗头。
	</p>
	<p>
		中金债券研究还指出，1月份信贷的高企有一些原因跟去年类似，就是表外融资转表内以及外币融资转本币。比如过去几个月外币贷款持续负增长，这些净减少的外币贷款都重新通过本币贷款来融资，“实际上不是新增融资需求，只是货币形式的替换。”
	</p>
	<p>
		多位分析师均指出，储备项目释放过快，后续可能面临增长乏力的情况。比如海通债券团队指出，1月冲贷款“开门红”不太可持续，而且银行的不良贷款还在加速，信贷投放2月开始会有明显的回落。 “贷款冲高主要集中在大型银行，尤其是股份制银行，部分股份制银行1月份的信贷增量就超过去年全年的1/4，后续可能会受到一些监管指导。而地区中小银行，如城行、农商行、农信社由于担心不良贷款，加上政府项目储备不及大型银行，其信贷投放依然十分缓慢。”
	</p>
	<p>
		此外，银行业分析师马鲲鹏指出，天量信贷可能跟今年1月开始实施的宏观审慎评估体系（MPA）有直接关系。差别准备金动态调整和合意贷款管理机制“升级”为MPA体系后，由央行对商业银行逐月管控贷款规模，升级为管控广义信贷，既包含贷款，也包含债券投资、非标、买入返售等类信贷资产。
	</p>
	<p>
		“MPA体系给予银行的是在贷款和非信贷资产之间腾挪的自由度：可以多放贷款，但前述非信贷资产增长需要放缓。”马鲲鹏预测，至少在今年上半年，超预期的信贷投放有可能是可持续的。但考虑到各家银行全年信贷总盘子已定，因此，前面放的越多，后面能放的就越少。
	</p>
</div>