<div class="container information">
	<h2 align="center">央行等八部委：落实差别化工业信贷政策</h2>
	<p class="comment">2016-02-16</p>
	<p class="comment">
		来源：
		<a href="http://www.caixin.com/" target="_blank">财新网</a>
	</p>
	<hr/>
	<p class="comment">
		对产能严重过剩行业未取得合法手续的新增产能建设项目，一律不得给予授信；压缩退出“僵尸企业”及落后产能等的贷款
	</p>
	<br/>
	<p>
		中国经济增速放缓之际，面对工业转型发展面临的融资难、融资贵瓶颈，新年返工伊始，央行等八部委发文，加大金融对工业供给侧结构性改革和工业稳增长、调结构、增效益的支持力度，推动工业去产能、去库存、去杠杆、降成本、补短板、加快工业转型升级。
	</p>
	<p>
		2月16日，央行官网挂出中国人民银行、发展改革委、工业和信息化部、财政部、商务部、银监会、证监会、保监会关于金融支持工业稳增长调结构增效益的若干意见（下称意见）， 包括六个方面：（一）加强对工业的货币信贷政策支持；（二）加大资本市场、保险市场对工业企业的支持力度；（三）推动工业企业融资机制创新；（四）促进工业企业兼并重组；五）支持工业企业加快“走出去”；（六）加强风险防范和协调配合。
	</p>
	<p>
		货币信贷政策支持方面，意见提出，着力加强金融对工业供给侧结构性改革的支持：综合运用多种流动性管理工具，完善宏观审慎管理，加强预调、微调，保持流动性水平适度和货币市场稳定运行，引导货币信贷平稳增长；加强和改进对企业兼并重组、不良资产处置的力度和效率，积极稳妥推进工业化解过剩产能和库存等。
	</p>
	<p>
		意见指出，要落实差别化工业信贷政策，包括：引导银行业金融机构根据重大技改、产业升级、结构调整项目目录，进一步完善信贷准入标准，加大对战略性新兴产业、传统产业技术改造和转型升级等的支持力度； 引导金融机构加大中长期贷款投入，加大对高新技术企业、重大技术装备、工业强基工程等领域的支持力度；鼓励银行业金融机构在风险可控前提下，适当降低新能源汽车、二手车的贷款首付比例，合理扩大汽车消费信贷，支持新能源汽车生产、消费及相关产业发展；引导银行业金融机构坚持区别对待、有扶有控原则，对钢铁、有色、建材、船舶、煤炭等行业中产品有竞争力、有市场、有效益的优质企业继续给予信贷支持，帮助有前景的企业渡过难关；支持工业企业积极稳妥化解产能过剩，对产能严重过剩行业未取得合法手续的新增产能建设项目，一律不得给予授信；对长期亏损、失去清偿能力和市场竞争力的“僵尸企业”，或环保、安全生产不达标且整改无望的企业及落后产能，坚决压缩退出相关贷款。
	</p>
	<p>
		资本市场等支持力度方面，意见指出，加大工业企业直接融资的支持力度：支持符合“中国制造2025”和战略性新兴产业方向的制造业企业，在各层次资本市场进行股权融资； 鼓励工业企业扩大发行标准化债权产品，替代其他高成本融资方式；对运作规范的工业企业，在完善偿债保障措施的基础上，支持其发行公司信用类债券用于调整债务结构；扩大公司信用类债券发行规模，拓展可交换债券、可转换债券市场；积极发展绿色债券、高收益债券、绿色资产证券化等创新金融工具。
	</p>
	<p>
		意见还指出，提升各类投资基金支持能力，加快组建新兴产业创业投资引导基金，积极运作国家中小企业发展基金和先进制造产业投资基金，发挥财政资金的放大效应，吸引社会资本积极参与，鼓励地方加大投入，支持种子期、初创成长型中小企业和战略性新兴产业、先进制造业加快发展。
	</p>
	<p>
		此外，意见称，进一步推进信贷资产证券化，支持银行通过盘活信贷存量加大对工业的信贷支持力度。加快推进住房和汽车贷款资产证券化。在审慎稳妥的前提下，选择少数符合条件的金融机构探索开展不良资产证券化试点。加快推进应收账款证券化等企业资产证券化业务发展，盘活工业企业存量资产。
	</p>
	<p>
		融资机制创新方面，意见指出要大力发展应收账款融资，加强动产融资统一登记系统建设，推动更多供应链加入应收账款质押融资服务平台，支持商业银行进一步扩大应收账款质押融资规模；建立应收账款交易机制，解决大企业拖欠中小微企业资金问题； 推动大企业和政府采购主体积极确认应收账款，帮助中小企业供应商融资。此外，探索推进产融对接融合，支持符合条件的工业企业集团设立财务公司等。
	</p>
	<p>
		工业企业兼并重组方面，意见指出，进一步取消或简化上市公司兼并重组行政许可及审批事项，优化审核流程，落实好分行业审核机制，提高并购重组审核效率和透明度等；扩宽工业企业兼并重组融资渠道。
	</p>
	<p>
		工业企业走出去方面，意见称，简化境内企业境外融资核准程序，鼓励境内工业企业利用境外市场发行股票、债券和资产证券化产品；支持工业企业在对外经济活动中使用人民币计价结算，优化对外人民币贷款项目管理，鼓励工业企业使用人民币对外贷款和投资； 加大出口信用保险对自主品牌、自主知识产权、战略性新兴产业的支持力度，扩大中长期出口信用保险覆盖面，对大型成套设备出口融资实现应保尽保。此外，加强对工业企业“走出去”的融资支持。
	</p>
	<p>
		1月19日，国家统计局发布数据，称经初步核算，2015年中国GDP同比增长6.9%，首次颇7引来海内外不少关注。其中，全年全国规模以上工业增加值按可比价格计算比上年增长6.1%。产业结构方面，全年第三产业增加值占GDP的比重为50.5%，比上年提高2.4个百分点，高于第二产业10个百分点。
	</p>
</div>