<div class="container information">
	<h2 align="center">成都高新区双创突围：5年建成万亿级国际创新创业中心</h2>
	<p class="comment">2016-02-17</p>
	<p class="comment">
		来源：每日经济新闻
	</p>
	<hr/>
	<p>
		近日，《每日经济新闻》记者从成都市政府新闻办获悉，成都高新区2015年实现全口径产业总产值5700亿元，其中工业总产值达3085亿元，成为四川首个工业总产值突破3000亿元的工业园区，规模在全国国家级高新区中位居前列。
	</p>
	<p>
		“工业迈上3000亿台阶，在成都高新区发展历程中是一个具有标志性意义的事件。”成都高新区发展策划局副局长熊平表示，作为成都市先进制造业的重要基地，成都高新区工业总产值迈上新台阶也从一个侧面反映出成都工业转型升级步伐加快和总体实力不断增强。
	</p>
	<p>
		根据成都高新区的发展规划，到2020年，成都高新区要实现全口径产业总产值10000亿元，聚集科技企业10000家，聚集高层次创新创业人才10000人，发明专利授权累计超过11000件，制定国际、国家和行业标准1000项。
	</p>
	<p>
		成都高新区党工委书记范毅表示，“十三五”期间，成都高新区将努力建设成为万亿级国际创新创业中心。国家自主创新示范区建设带来了“先行先试”的政策红利，成都高新区不仅可以率先落实示范区政策，而且可以结合实际制定有关政策，这对于发展创新型产业集群、催生新经济新业态新模式、推动转型发展，具有重大意义。
	</p>
	<p>
		2015“成绩单”：工业总产值成新亮点
	</p>
	<p>
		目前，成都市正在实施工业强基行动，加快建设国家先进制造业中心。成都将着力构建“3+N”工业空间布局体系，明确成都高新区要充分发挥火车头的引领带动作用，突出发展高新技术产业，着力打造“大智造”产业板块。成都高新区工业在2015年的亮眼表现，正是成都工业加快转型升级，加快培育新的经济增长点，筑牢城市发展产业基础的力证。
	</p>
	<p>
		据熊平介绍，在规模不断攀上新量级的同时，成都高新区工业结构也在不断优化。2015年的工业产值中，八成以上来自战略性新兴产业。其中新一代信息技术占比最大，聚集了英特尔、德州仪器、富士康、戴尔、联想、京东方、深天马、中光电、迈普等一批国内外知名企业，推动成都成为中国“IT第四极”。
		此外，成都高新区生物医药、生物医学工程、航空装备、先进环保等产业的集约集群发展态势明显，未来可望成为成都先进制造业发展的新引擎。
	</p>
	<p>
		据介绍，2015年，成都高新区充分发挥政策对主导产业发展的支撑作用，制定了鼓励重点存量企业多做贡献、稳定外贸进出口增长、支持重点项目加快建设三项政策，全年兑现各类政策扶持资金近30亿元。在多项政策的引领和支撑下，全区战略性新兴产业2015年实现增加值650亿元，其中生物、节能环保产业增加值分别增长16%、18%。
	</p>
	<p>
		在工业快速发展的支撑下，成都高新区2015年实现地区生产总值1277.6亿元，增长10.1%，在成都市地区生产总值中的占比提升至11.8%，拉动全市地区生产总值增长1个百分点；完成固定资产投资552.3亿元，财政总收入348.8亿元，一般公共预算收入140.9亿元，实际利用外资15亿美元。成都高新综合保税区全年实现进出口总额1250亿元，位居全国综保区前列。
	</p>
	<p>
		2015年，成都高新区着力推进“大众创业、万众创新”，深入实施“创业天府”高新区引领工程，出台了成都高新区“创业十条”，每年投入10亿元支持创新创业；打造了全国一流、总面积25万平方米的蓉创广场，吸引硅谷国际孵化器等一批知名众创空间入驻；深入开展“创业天府·菁蓉汇”成都高新区系列主题活动，举办了走进中关村(8.97
		+0.34%,买入)、波士顿等主题活动。
	</p>
	<p>
		据成都高新区介绍，2015年成都高新区新认定高新技术企业80家，总数达到610家；新增科技型初创企业3020家，同比增长300%；新增销售收入首次突破1000万元的企业63家。
	</p>
	<p>
		成都高新区2015年新增众创空间和孵化器30家、孵化载体面积65万平方米，新认定公共技术平台9家，新增市级以上企业科技研发机构15家。在企业培育方面，成都高新区帮助300多家（次）中小企业获得担保贷款18亿元、20余家中小企业获得风险投资10亿元以上，新增创业板上市企业6家、新三板挂牌企业27家。
	</p>
	<p>
		目前，成都高新区已有上市企业26家，约占成都市一半，上市企业数量在国家级高新区中排名第二，仅次于北京中关村。去年，成都高新区引进产业急需紧缺人才超过1万名，引进海外留学和博士创业人才343人，累计发放4.2亿元的人才资助资金。截至2016年1月31日，成都高新区已聚集国家“千人计划”人才85人，占四川省的38%。
	</p>
	<p>
		示范区突围：5年建成万亿级国际双创中心
	</p>
	<p>
		“成都高新区在推动国家自主创新示范区建设、引领创新驱动发展上肩负着国家、省、市赋予的重要使命。”成都高新区党工委书记范毅说，成都高新区去年6月成功获批成为西部首家国家自主创新示范区，为其“十三五”期间的创新发展提供了重大战略机遇。
	</p>
	<p>
		在范毅看来，示范区建设首先带来了“先行先试”的政策红利，成都高新区不仅可以率先落实示范区政策，而且可以结合实际制定有关政策，这对于发展创新型产业集群、催生新经济新业态新模式、推动转型发展，具有重大意义。
	</p>
	<p>
		据介绍，四川省委、省政府正在研究制定《关于建设成都国家自主创新示范区的实施意见》。成都市委、市政府正在积极推动出台《成都国家自主创新示范区条例》，该《条例》已被列入四川省人大立法计划，其出台将为示范区建设“保驾护航”。 按照“三区一级”战略定位，成都高新区正加快制定《成都国家自主创新示范区发展规划纲要》。下一步，还将制定示范区建设行动方案，明确到2020年的主要任务分工、时间节点。
	</p>
	<p>
		范毅表示，“十三五”期间，成都高新区将紧紧围绕国务院批复的“三区一极”发展方向，充分发挥成都高新区的产业优势和创新资源集聚优势，积极开展创新政策先行先试，激发各类创新主体活力， 着力研发和转化国际领先的科技成果，打造一批具有全球影响力的创新型企业，全面提高自主创新和辐射带动能力，努力把成都高新区建设成为万亿级国际创新创业中心。
	</p>
	<p>
		根据相关规划，成都高新区提出要实施“七大行动”，为实现“三区一极”的战略定位提供支撑——实施双创大引领行动，打造“世界双创试验田”；实施产业大智造行动，打造“国际智造谷”，加快建成中国新一代信息技术产业高地，初步形成5个以上新千亿产业集群；
		实施人才大汇聚行动，打造“国际创客天堂”；实施开放大融合行动，打造“全球投资首选地”；实施产城大提升行动，打造“国际现代新城”；实施体制大突破行动，打造“全面创新改革核心引领区”；实施民生大保障行动，打造“文明和谐首善区”。
	</p>
	<p>
		在备受关注的园区建设方面，成都高新区相关负责人介绍，落户成都高新区的新川创新科技园建设发展全面提速，现已完成园区城市设计导则、绿化水系、新川之心设计方案等专项规划设计方案，主干路网基本形成通车能力； 方正世纪信息西南总部及研发中心项目、中国移动咪咕音乐基地等10个重大产业化项目签约入驻园区，总投资达81.4亿元；新一代信息技术孵化园、生物医药创新孵化园、新川之心等项目顺利开工建设。
	</p>
	<p>
		据介绍，成都高新区还将推行“一区多园”模式，强化创新要素辐射带动，将成都示范区先行先试政策在成都市域推广共享。同时，实施“并肩行动”计划，通过异地孵化、飞地经济、园区管理模式输出、成立跨区域园区联盟、布局跨区域产业链等方式，全面深化与绵阳、乐山、自贡、泸州等省内国家级高新区的联动发展。
	</p>
</div>