<div class="container information">
	<h2 align="center">房贷新政落地成都 业内称影响待观察</h2>
	<p class="comment">2016-02-15 18:11</p>
	<p class="comment">
		来源：一财网
	</p>
	<hr/>
	<p>
		春节期间，在成都工作的黄枫（化名）一直在看房，拿完年终奖的他希望可以拼凑一下付掉首付买下自己的第一套房。黄枫发现，春节期间的成都开发商楼盘并不火爆，比往日冷清了许多。
	</p>
	<p>
		“春节前央行出了政策，可以降低个人首套购房的首付比例，这样一来也是降低了我的购房门槛，因此我准备来看看房。”黄枫告诉《第一财经日报》记者。
	</p>
	<p>
		黄枫口中说的政策是指在今年2月2日央行下发的《通知》，要求在不实施“限购”措施的城市，居民家庭首次购买普通住房的商业性个人住房贷款，原则上最低首付款比例为25%，各地可向下浮动5个百分点； 对拥有1套住房且相应购房贷款未结清的居民家庭，为改善居住条件再次申请商业性个人住房贷款购买普通住房，最低首付款比例调整为不低于30%。对于实施“限购”措施的城市，个人住房贷款政策按原规定执行，而此前在不实施“限购”的城市首次购房首付比例至少要25%。
	</p>
	<p>
		伴随着央行的政策，不仅仅是准备买首套房的购房者，还有许多二次置业的购房者也纷纷将买房提上了日程安排。但是春节期间成都楼市表现并不理想，主要还是因为许多工作人员返乡。
	</p>
	<p>
		而春节过后，各大银行就已经开始执行央行新政。一位交通银行的客户经理告诉记者：“我们的银行已经开始执行房贷新政，目前成都主城区（包括五城区和高新区）的房屋购买最低首付款比例由30%统一降至25%，成都其他地区和四川省其他市州的最低首付款比例由25%降至20%。”
	</p>
	<p>
		这意味着除了成都主城区，其他地区均可以享受房贷首付20%的优惠。以成都主城区一套80万的房屋为例，之前首付至少需要24万，而如今首付只需要20万。对于像黄枫这样的刚性需求的购房者，降低首付的确可以促进其购房。
	</p>
	<p>
		“目前是交通银行、农行等率先执行房贷新政，其余几大银行的细则也陆续出台了，基本都可以做到主城区区首套房2.5成，其余区域首套房2成。”当地一知名开发商告诉记者。
	</p>
	<p>
		“我们已经收到了央行通知，但是目前省分行还没有开会，估计几天内这个政策就会开始执行。”中国银行一位负责个贷业务经理告诉记者。
	</p>
	<p>
		《第一财经日报》记者多方采访获悉，成都的银行自2015年下半年就开始实行“商贷首套房2.5成”，但实际社会公众的知晓度还不够。而近期央行发布新政，对于成都主城区并没有帮助，但是却提高了购房者的信心。
	</p>
	<p>
		某龙头房企成都公司的相关负责人告诉记者，成都各大开发项目已基本按照新首付比例政策执行并对外推广。从调研反馈来看，市场效果根据项目情况，反应效果不一。对于部分项目因首付比例降低的确促成了成交； 而部分项目此前已经通过首付零息分期等降低购买门槛的策略进行营销，因此受益较少。由于总体政策落地时间较短，新政市场效果还有待持续关注。
	</p>
	<p>
		“成都非主城区商贷首付2成对于首次置业刚需客户帮助较大，但是目前政策还在落地阶段，大部分购房者还处于观望，因此我们也不能判断实际效果。”当地业内人士告诉记者，“预计未来还有别的利好政策，成都房价并不算高，机会还是有的。”
	</p>
</div>