<div class="row">
	<% include header %>
</div>

<div class="row">
	<img width="100%" src="img/about.png"></img>
</div>

<div class="container information">
	<h2 align="center">百城富邦公司简介</h2>
	<hr/>
	<p>
		百城富邦金融外包服务有限公司成立于2013年12月，注册资本1000万。两年多时间己经为上万名客户提供了贷款咨询及服务。 目前公司设有总经理室、风控业管部、电销中心、渠道业务部。 公司员工人数70人其中:渠道部15人，电销中心52人，风控业管部3人，总经理1人。
	</p>
	<p>
		公司秉承着“以人为本、立足市场、服务大众、共赢共好”为经营理念； “以诚信第一、效率第一、客户至上、服务至上”为公司宗旨； 立志为四川市场个人及小微企业提供最佳金融解决方案。
	</p>
	<p>
		公司为员工提供顺畅的晋升通道、明确的职业规划以及全方位的培训包括：新人入职培训、技能提升培训、实战案例分享、职业道德教育。公司以“事业成就人才，人才成就事业”为根本，让每一位百城富邦员工都可以获得财富增长与价值的实现。
	</p>
	<p>
		伴随着四川市场金融风险逐渐加剧，公司对风险严格把关。我们不仅营销客户更注重把控客户风险。对客户资料的初审、筛选及贷后管理为合作机构提供高质量的客户群体。
	</p>
	<p>
		现目前公司合作机构：平安银行、中国银行、中国农业银行、中国工商银行，中国建设银行，成都农商银行、民生银行、中信银行、德阳银行、南充商业银行等多家实力金融机构。
	</p>
	<p>
		我们力争成为市场上最好的第三方金融服务机构与百城合作您将收获一个值得信任的朋友，百城金融值得拥有！
	</p>
</div>