<div class="footer clearfix mrt30">
	<div class="wrap">
		<div class="links">
			<dl class="item">
				<dt>关于我们</dt>
				<dd>
					<ul>
						<li>
							<a href="/404" rel="nofollow" target="_blank" >关于百城富贷</a>
						</li>
						<li>
							<a href="/404" rel="nofollow" target="_blank">联系我们</a>
						</li>
					</ul>
				</dd>
			</dl>
			<dl class="item">
				<dt>商家合作</dt>
				<dd>
					<ul>
						<li>
							<a href="/404" rel="nofollow" target="_blank" onclick="ga('send','event','yj','click','9');">贷款商家</a>
						</li>
						<li>
							<a href="/404" rel="nofollow" target="_blank" onclick="ga('send','event','yj','click','11');">加盟连锁</a>
						</li>

					</ul>
				</dd>
			</dl>
		</div>
		<div style="float:left;margin:20px 0px 0px 100px;">
			<p style="line-height:25px;font-size:14px;color:#FFF;text-align: center;">扫一扫，关注我们</p>
			<img src="img/qrcodeMap.jpg" width="180px" height="180px" />
        </div>
		<div class="copyright">
			<div class="contact">
				<div class="tel">
					<i class="icon icon-tel"></i> 客服热线（工作时间 8:00-22:00）
					<br/>
					<span class="num">400-XXX-XXX</span>
				</div>
			</div>
			<div class="text">
				地址：成都市XXXXXXXXXXXXXXXX
				<br/>
				邮编：610000&nbsp;&nbsp;Email：mail@XXX.com
				<br/>
				<span class="gray">
					Copyright ?2009-2015 BCFD Corporation.All Rights Reserved.<br>四川百城富贷金融信息服务有限公司&nbsp;&nbsp;蜀ICP备xxxxxxx-1号-1&nbsp;&nbsp;川B -xxxxxxx</span>
			</div>
		</div>
	</div>
</div>