<div class="row" id="home-footer">
	<div class="container" style="min-width: 1080px;">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" align="right">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="row">
					<a href="/about">关于百城富邦</a>
				</div>
				<div class="row">
					<a href="javascript:void(0);">联系我们</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div>
					<a href="javascript:void(0);">合作伙伴</a>
				</div>
				<div>
					<a href="javascript:void(0);">贷款商家</a>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" align="center">
			<p>扫一扫，关注我们</p>
			<img src="img/qrcodeMap.jpg" width="180px" height="180px" />
		</div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div>
				<span class="glyphicon glyphicon-phone-alt"></span> 客服热线(工作时间 8:30-18:00)
			</div>
			<div>
				028-65636869
			</div>
			<br/>
			<div>
				<span class="glyphicon glyphicon-home"></span> 公司地址：
			</div>
			<div>
				成都市锦江区东门大桥东方广场
			</div>
			<div>
				C座25楼
			</div>
			<br/>
			<div>
				<span class="glyphicon glyphicon-envelope"></span> 邮政编码：610041
			</div>
			<div>
				<span class="glyphicon glyphicon-cloud"></span> Email：mail@XXX.com
			</div>
			<br/>
			<div>
				四川百城富邦金融服务外包有限公司
			</div>
			<div>
				蜀ICP备16001268号-1
			</div>
		</div>
	</div>
</div>