<nav class="navbar navbar-default header-nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						业务查询
						<span class="caret"></span>
					</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">贷款业务</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">公司详情</a>
                </li>
                <li>
                    <a href="#">公告资讯</a>
                </li>
                <li>
                    <a href="#">招贤纳士</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!session.logged">
                    <a href="/login">用户登录</a>
                </li>
                <li ng-if="session.logged">
                    <a href="/business">欢迎，{{session.userName}}</a>
                </li>
                <li ng-if="session.logged">
                    <a href="#" ng-click="onLogout()">登出</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div>
    <div class="banner">
        <ul class="banList">
            <li class="active">
                <a href="/"><img src="img/img1.jpg" /></a>
            </li>
            <li>
                <a href="/"><img src="img/img2.jpg" /></a>
            </li>
            <li>
                <a href="/"><img src="img/img3.jpg" /></a>
            </li>
        </ul>
        <div class="fomW">
            <div class="jsNav">
                <a href="javascript:;" class="trigger current"></a>
                <a href="javascript:;" class="trigger"></a>
                <a href="javascript:;" class="trigger"></a>
            </div>
        </div>
    </div>

    <div class="btn0">
        <a href="#anchor">
            立即借款
        </a>
    </div>

    <div class="product" style="cursor:pointer;">
        <div class="dk-adv ac">
            <a href="javascript:;"><img src="img/product-depict.jpg" data-bd-imgshare-binded="1"></a>
        </div>
    </div>

    <div class="row">


    </div>
</div>

<script type="text/javascript">
    $(function(){
	$(".banner").swBanner();
});

</script>