<nav class="navbar navbar-default header-nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						业务查询
						<span class="caret"></span>
					</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">贷款业务</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">公司详情</a>
                </li>
                <li>
                    <a href="#">公告资讯</a>
                </li>
                <li>
                    <a href="#">招贤纳士</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!session.logged">
                    <a href="/login">用户登录</a>
                </li>
                <li ng-if="session.logged">
                    <a href="/business">欢迎，{{session.userName}}</a>
                </li>
                <li ng-if="session.logged">
                    <a href="#" ng-click="onLogout()">登出</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div>
    <div class="banner">
        <ul class="banList">
            <li class="active">
                <a href="/"><img src="img/img1.jpg" /></a>
            </li>
            <li>
                <a href="/"><img src="img/img2.jpg" /></a>
            </li>
            <li>
                <a href="/"><img src="img/img3.jpg" /></a>
            </li>
        </ul>
        <div class="fomW">
            <div class="jsNav">
                <a href="javascript:;" class="trigger current"></a>
                <a href="javascript:;" class="trigger"></a>
                <a href="javascript:;" class="trigger"></a>
            </div>
        </div>
    </div>

    <div class="btn0">
        <a href="#anchor">
            立即借款
        </a>
    </div>

    <div class="product" style="cursor:pointer;">
        <div class="dk-adv ac">
            <a href="javascript:;"><img src="img/product-depict.jpg" data-bd-imgshare-binded="1"></a>
        </div>
    </div>

    <div style="border-top:2px solid #00457c;" class="box fl btwo">
        <h3 style="color: #00457c;">快速申请贷款</h3>
        <div style="padding:10px; width:300px;">
            <div class="quit_sq">
                <input id="intent_id" type="hidden" value="">
                <input id="is_kt" type="hidden" value="">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td>您的姓名:</td>
                            <td>
                                <input type="text" maxlength="6" id="user_name" placeholder="如：李江涛" class="quit_sq_ipt">
                            </td>
                        </tr>
                        <tr>
                            <td>手机号码:</td>
                            <td>
                                <input type="text" placeholder="您的手机号码" name="tel" class="quit_sq_ipt">
                            </td>
                        </tr>
                        <tr>
                            <td>申贷金额:</td>
                            <td>
                                <input type="text" maxlength="7" placeholder="请输入数字" class="quit_sq_ipt">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input type="button" value="申请贷款" class="quit_sq_btn">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="quit_other">请确认联系方式无误。提交申请后，客服会拨打您的手机，为您免费定制方案</div>
        </div>
    </div>


    <div class="fr dk-r">
        <!-- 诚信机构开始 -->
        <div class="dk-power">
            <div class="dk-t clearfix">
                <h2 class="fl">诚信机构</h2>
            </div>
            <div class="service clearfix">
                <ul>
                    <li class="item-1"><i class="icon icon-verify"></i>实名认证</li>
                    <li class="item-2"><i class="icon icon-promise"></i>不收费承诺</li>
                    <li class="item-3"><i class="icon icon-free"></i>免费服务</li>
                </ul>
            </div>
            <div class="count clearfix">
                <ul>
                    <li>
                        <i class="icon n3"></i><i class="icon n2"></i><i class="icon n4"></i>
                        <br>金融服务机构
                    </li>
                    <li>
                        <i class="icon n1"></i><i class="icon n4"></i><i class="icon n4"></i><i class="icon n8"></i>
                        <br>资深贷款顾问
                    </li>
                    <li>
                        <i class="icon n1"></i><i class="icon n8"></i><i class="icon n7"></i><i class="icon n5"></i><i class="icon n3"></i>
                        <i
                        class="icon n0"></i>
                            <br>客户的信赖
                    </li>
                </ul>
            </div>
        </div>
        <!-- 诚信机构结束 -->








        <div class="dk-succ mrt20">
            <div class="dk-t clearfix">
                <h2 class="fl" title="成都贷款成功案例">成功案例</h2>
                <span class="fr dk-more"><a href="/anli/" target="_blank" rel="nofollow">更多</a></span> </div>
            <ul class="dk-succ-l clearfix">
                <li>
                    <h3 class="fl"><a href="/casedetail/105037.html" target="_blank" title="陈先生信用贷款">陈先生信用贷款</a></h3>
                    <span class="fr c-green"><i class="fl dk-icon icon-right"></i>成功</span>
                    <p>月利率：0.63-1.00%　贷款金额：32万元</p>
                </li>
                <li>
                    <h3 class="fl"><a href="/casedetail/105034.html" target="_blank" title="刘女士房屋抵押贷款">刘女士房屋抵押贷款</a></h3>
                    <span class="fr c-green"><i class="fl dk-icon icon-right"></i>成功</span>
                    <p>月利率：7.00-8.30%　贷款金额：200万元</p>
                </li>
                <li>
                    <h3 class="fl"><a href="/casedetail/104990.html" target="_blank" title="龚先生信用贷款">龚先生信用贷款</a></h3>
                    <span class="fr c-green"><i class="fl dk-icon icon-right"></i>成功</span>
                    <p>月利率：0.80-1.10%　贷款金额：36万元</p>
                </li>
            </ul>
        </div>


    </div>





    <div class="row">


    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script type="text/javascript">
    $(function(){
	$(".banner").swBanner();
});

</script>