<nav class="navbar navbar-default header-nav">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">首页</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						业务查询
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="javascript:void(0);">贷款业务</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0);">公司详情</a>
				</li>
				<li>
					<a href="javascript:void(0);">公告资讯</a>
				</li>
				<li>
					<a href="javascript:void(0);">招贤纳士</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="!session.logged">
					<a href="/login">用户登录</a>
				</li>
				<li ng-if="session.logged">
					<a href="/business">欢迎，{{session.userName}}</a>
				</li>
				<li ng-if="session.logged">
					<a href="javascript:void(0);" ng-click="onLogout()">登出</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<div>
	<div class="row home-banner">
		<div id="banners-area">
			<div id="myCarousel" class="carousel slide hidden-sm hidden-xs" data-ride="carousel" style="max-width: 100%; margin: 0 auto;">
				<div class="carousel-inner">
					<div class="item active">
						<div id="row-cont" style="cursor: pointer; cursor: hand;" class="itembox1">
							<div class="car-main-cont" style="background-image: url(img/img1.jpg);">
								<div class="container">
									<div style="width: 600px; margin-top: 65px;">
										<div class="car-text"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div id="row-cont" style="cursor: pointer; cursor: hand;" class="itembox2">
							<div class="car-main-cont" style="background-image: url(img/img2.jpg);">
								<div class="container">
									<div style="width: 600px; margin-top: 65px;">
										<div class="car-text"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div id="row-cont" style="cursor: pointer; cursor: hand;" class="itembox3">
							<div class="car-main-cont" style="background-image: url(img/img3.jpg);">
								<div class="container">
									<div style="width: 600px; margin-top: 65px;">
										<div class="car-text"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<ol class="carousel-indicators" style="left: 20%; bottom: 0%;">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1" class=""></li>
					<li data-target="#myCarousel" data-slide-to="2" class=""></li>
				</ol>
				<a class="left carousel-control" href="javascript:void(0);" data-target="#myCarousel" data-slide="prev">
					<i class="icon-prev fa fa-angle-left" style="font-size: 80px; margin-top: -30px;"></i>
				</a>
				<a class="right carousel-control" href="javascript:void(0);" data-target="#myCarousel" data-slide="next">
					<i class="icon-next fa fa-angle-right" style="font-size: 80px; margin-top: -30px;"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="container">
		<img width="100%" src="img/product-depict.jpg"></img>
	</div>

	<div class="container">
		<img src="img/bank/gsyh.jpg" />
		<img src="img/bank/nyyh.jpg" />
		<img src="img/bank/zgyh.jpg" />
		<img src="img/bank/jsyh.jpg" />
		<img src="img/bank/zxyh.jpg" />
		<img src="img/bank/xyyh.jpg" />
		<img src="img/bank/zsyh.jpg" />
		<img src="img/bank/jtyh.jpg" />
		<img src="img/bank/yzyh.jpg" />
		<img src="img/bank/msyh.jpg" />
		<img src="img/bank/payh.jpg" />
		<img src="img/bank/nbyh.jpg" />
		<img src="img/bank/gfyh.jpg" />
		<img src="img/bank/szyh.jpg" />
		<img src="img/bank/pfyh.jpg" />
		<img src="img/bank/gdyh.jpg" />
		<img src="img/bank/bjyh.jpg" />
		<img src="img/bank/njyh.jpg" />
	</div>
</div>