<div class="row">
	<% include header %>
</div>

<div class="row">
	<img src="img/info.png" style="width: 100%" />
</div>

<div class="container information">
	<h2 align="center" style="font-weight: bold;">公告资讯</h2>
	<br/>
	<hr/>
	<div class="row" align="center">
		<a href="/information?index=001">中国农业银行首推农民群体专属个人房贷产品</a>
		<hr/>
		<a href="/information?index=002">提醒：定期查询个人信用报告 避免背“黑锅”</a>
		<hr/>
		<a href="information?index=003">2.5万亿贷款投向何处？政府加速加杠杆</a>
		<hr/>
		<a href="information?index=004">央行等八部委：落实差别化工业信贷政策</a>
		<hr/>
		<a href="information?index=005">成都高新区双创突围：5年建成万亿级国际创新创业中心</a>
		<hr/>
		<a href="information?index=006">房贷新政落地成都 业内称影响待观察</a>
		<hr/>
	</div>
</div>