<div class="container">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

			<div class="panel-body">
				<form name='loginForm' role="form" class="form-horizontal">
					<div class="form-group">
						<h2 style="text-align: center;">点击确定拨打电话</h2>
					</div>
					<div class="form-group">
						<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
							<a href="{{phone}}"><button class="btn btn-success btn-lg btn-block" >确定</button><a>
						</div>
					</div>
				</form>
			</div>
	</div>
</div>