<div class="container">
	<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<form name='loginForm' class="form-horizontal" role="form" ng-submit="onSignup()">
					<div class="form-group">
						<h2 style="text-align: center;">Singup</h2>
					</div>
					<div class="form-group">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
							<input type="text" class="form-control" name="userName" placeholder="用户名" title="请输入用户名" required="" maxlength="20" ng-model="signupData.userName" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
							<input type="password" class="form-control" name="password" placeholder="密码" title="请输入密码" required="" maxlength="20" ng-model="signupData.password" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
							<input type="password" class="form-control" name="passwordConfirm" placeholder="确认密码" title="请再次输入密码" required="" maxlength="20" ng-model="signupData.passwordConfirm" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
							<input type="text" class="form-control" name="phone" placeholder="电话号码" title="请输入电话号码" required="" maxlength="20" ng-model="signupData.phone" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
							<input type="text" class="form-control" name="name" placeholder="姓名" title="请输入姓名" required="" maxlength="20" ng-model="signupData.name" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
							<input type="email" class="form-control" name="email" placeholder="电子邮箱" title="请输入电子邮箱" maxlength="20" ng-model="signupData.email" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
							<input type="text" class="form-control" name="superior" placeholder="推荐人" title="请输入推荐人" maxlength="20" ng-model="signupData.superior" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
							<button class="btn btn-success btn-lg btn-block" type="submit">确定</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>