<div class="container">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<div class="panel panel-default" style="margin-top: 50px;" cg-busy="myPromise">
			<div class="panel-body">
				<form name='wechatSignupForm' role="form" class="form-horizontal" ng-submit="onWechatSignup()">
					<div class="form-group">
						<h2 style="text-align: center;">会员注册</h2>
					</div>
					<div class="form-group">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
							<input type="text" class="form-control" name="name" placeholder="姓名" title="请输入姓名" required="" maxlength="20" ng-model="wechatSignupData.name" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
							<input type="text" class="form-control" name="phone" placeholder="电话号码" title="请输入电话号码" required="" maxlength="11" ng-model="wechatSignupData.phone"
							ng-minlength="11" ng-pattern="/^\d+$/" />
							<div ng-show="wechatSignupForm.phone.$dirty &amp;&amp; wechatSignupForm.phone.$invalid">
								<small class="alert-danger well-sm" ng-show="wechatSignupForm.phone.$error.pattern">请使用数字</small>
								<small class="alert-danger well-sm" ng-show="wechatSignupForm.phone.$error.minlength &amp;&amp; !wechatSignupForm.phone.$error.pattern">请输入11位手机号码</small>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
							<input type="text" class="form-control" name="superior" placeholder="推荐人ID" title="请输入推荐人ID" required="" maxlength="20" ng-model="wechatSignupData.superior" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" align="right">
							<a href="/wechat-bind">绑定已有账号</a>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
							<button class="btn btn-success btn-lg btn-block" type="submit">确定</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>