<div class="container-wechat">
	<br />
	<div class="row" style="margin-top: 20px;">
		<div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
			<button class="btn btn-success btn-md btn-block">添加保单</button>
		</div>
	</div>
	<div style="margin-top: 30px;">
		<!-- Nav tabs -->
		<nav>
			<ul class="nav nav-tabs" id="myTabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#myInsurance" role="tab" data-toggle="tab">我的保单</a>
				</li>
				<li role="presentation">
					<a href="#insuranceInfo" role="tab" data-toggle="tab">保单分析</a>
				</li>
			</ul>
		</nav>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="myInsurance" cg-busy="promiseMyInsurance">
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<form class="form-horizontal">
							<div class="form-group">
								<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">投保人</lable>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="text" class="form-control" readonly="" />
								</div>
							</div>
							<div class="form-group">
								<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">受保人</lable>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="text" class="form-control" readonly="" />
								</div>
							</div>
							<div class="form-group">
								<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">保险公司</lable>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="text" class="form-control" readonly="" />
								</div>
							</div>
							<div class="form-group">
								<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">保险类型</lable>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="text" class="form-control" readonly="" />
								</div>
							</div>
							<div class="form-group">
								<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">生效时间</lable>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="text" class="form-control" readonly="" />
								</div>
							</div>
							<div class="form-group">
								<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">续费时间</lable>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="text" class="form-control" readonly="" />
								</div>
							</div>
							<div class="form-group">
								<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">保险金额</lable>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="text" class="form-control" readonly="" />
								</div>
							</div>
							<div class="form-group">
								<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">缴纳费用</lable>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="text" class="form-control" readonly="" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane fade in" id="insuranceInfo" cg-busy="promiseInsuranceInfo">
				<div class="panel panel-default">
					<div class="panel-heading">年交保费统计（元）</div>
					<div>
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th width="40%">投保人</th>
									<th width="40%">年缴保费</th>
									<th width="20%">件数</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center"></td>
									<td align="center"></td>
									<td align="center"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">重大疾病保额统计（万元）</div>
					<div>
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th width="40%">受保人</th>
									<th width="40%">保险金额</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center"></td>
									<td align="center"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">事故寿险保额统计（万元）</div>
					<div>
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th width="50%">受保人</th>
									<th width="50%">保险金额</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center"></td>
									<td align="center"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">意外保障保额统计（万元）</div>
					<div>
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th width="50%">受保人</th>
									<th width="50%">保险金额</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center"></td>
									<td align="center"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">住院医疗保额统计（万元）</div>
					<div>
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th width="50%">受保人</th>
									<th width="50%">保险金额</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center"></td>
									<td align="center"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">个人保单件数</div>
					<div>
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th width="40%">受保人</th>
									<th width="40%">年缴保费</th>
									<th width="20%">件数</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center"></td>
									<td align="center"></td>
									<td align="center"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">公司保单件数</div>
					<div>
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th width="80%">保险公司</th>
									<th width="20%">件数</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center"></td>
									<td align="center"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--modal-->
<div class="modal fade" id="newPolicy" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content" cg-busy="promiseNewPolicy">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">新表单</h4>
			</div>
			<div class="modal-body">
				<form name='newPolicy' role="form" class="form-horizontal">
					<div class="form-group">
						<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">投保人</lable>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<select class="form-control" ng-options="payer.name for payer in payerOptions"></select>
						</div>
					</div>
					<div class="form-group">
						<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">受保人</lable>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<select class="form-control" ng-options="insurant.name for insurant in insurantOptions"></select>
						</div>
					</div>
					<div class="form-group">
						<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">生效日期</lable>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<div class="input-group date" id="datepicker-effective-time">
								<input type="text" class="form-control" readonly="" />
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-th"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">保险类型</lable>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<div ng-class="input-group">
								<input type="text" class="form-control" readonly="readonly" autocomplete="off" placeholder="点击右侧按钮选择" />
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-th-list"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">保险公司</lable>
						<div ng-class="input-group">
							<input type="text" class="form-control" readonly="readonly" autocomplete="off" placeholder="点击右侧按钮选择" />
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-briefcase"></i>
							</span>
						</div>
					</div>
					<div class="form-group">
						<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">缴费频率</lable>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<select class="form-control" ng-options="frequency.name for insurant in frequencyOptions"></select>
						</div>
					</div>
					<div class="form-group">
						<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">投保期限（年）</lable>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<input type="number" class="form-control" placeholder="0表示终身投保" />
						</div>
					</div>
					<div class="form-group">
						<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">保险期限（年）</lable>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<input type="number" class="form-control" placeholder="0表示终身保险" />
						</div>
					</div>
					<div class="form-group">
						<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">主险保额（万元）</lable>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<input type="number" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<lable class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4">年缴保费（元）</lable>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<input type="number" class="form-control" />
						</div>
					</div>
					<br />
					<div class="form-group">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<button type="submit" class="btn btn-success btn-lg btn-block">提交</button>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<button type="button" class="btn btn-warning btn-lg btn-block" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--inner modal-->
<div id="modal-insurance-type" tabindex="-1" role="dialog" class="modal inner">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" aria-hidden="true" class="close" ng-click="onCloseInnerModal('#modal-insurance-type')">×</button>
				<h4 id="modal-default-label" class="modal-title">选择保险类型</h4>
			</div>
			<div class="modal-body">
				<form role="form" class="form-horizontal form-separated" ng-submit="onSelectInsuranceTypeOK('#modal-insurance-type')">
					<div class="form-body pdl">
						<div class="form-group" cg-busy="staffListPromise">
							<span class="col-md-3" ng-repeat="type in insuranceTypeList">
								<input type="checkbox" id="{{type.id}}" class="magic-checkbox" ng-model="type.selected" />
								<label class="pull-left" for="{{type.id}}" ng-bind="type.name"></label>
							</span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">确定</button>
						<button type="button" class="btn btn-default" ng-click="onCloseInnerModal('#modal-insurance-type')">取消</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--inner modal-->
<div id="modal-insurance-company" tabindex="-1" role="dialog" class="modal inner">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" aria-hidden="true" class="close" ng-click="onCloseInnerModal('#modal-insurance-company')">×</button>
				<h4 id="modal-default-label" class="modal-title">选择保险公司</h4>
			</div>
			<div class="modal-body">
				<form role="form" class="form-horizontal form-separated" ng-submit="onSelectInsuranceCompanyOK('#modal-insurance-company')">
					<div class="form-body pdl">
						<div class="form-group">
							<label class="col-md-4 control-label">索引：</label>
							<div class="col-md-6">
								<div class="input-icon">
									<i class="glyphicon glyphicon-font"></i>
									<select class="form-control" style="padding-left: 33px !important;" ng-options="index.name for index in insuranceCompanyIndexListinsuranceCompanyIndexList"></select>
								</div>
							</div>
						</div>
						<div class="form-group" cg-busy="staffListPromise">
							<span class="col-md-3" ng-repeat="company in selectedInsuranceCompanyIndex.list">
								<input type="radio" name="radio" id="{{$index}}" class="magic-radio" value="{{company.value}}" />
								<label for="{{$index}}" ng-bind="company.name"></label>
							</span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">确定</button>
						<button type="button" class="btn btn-default" ng-click="onCloseInnerModal('#modal-insurance-company')">取消</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
