<div class="row">
	<% include header %>
</div>

<div style="min-width: 1280px;">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
		<!-- Nav tabs -->
		<nav>
			<h2 style="font-weight: bold;">招聘岗位</h2>
			<hr/>
			<ul class="nav nav-pills nav-stacked" id="myTabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#tab1" role="tab" data-toggle="tab">渠道经理</a>
				</li>
				<li role="presentation">
					<a href="#tab2" role="tab" data-toggle="tab">电话销售客户经理</a>
				</li>
				<li role="presentation">
					<a href="#tab3" role="tab" data-toggle="tab">风控业管经理</a>
				</li>
				<li role="presentation">
					<a href="#tab4" role="tab" data-toggle="tab">人事行政</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="tab1">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="tab-span">岗位名称：渠道经理</span>
						<span class="tab-span">需求人数：5人</span>
						<span class="tab-span">有效期：2016年5月前有效</span>
					</div>
					<div class="panel-body">
						<h4>岗位职责：</h4>
						<p>1.负责拓展获客渠道和合作渠道；</p>
						<p>2.接待处理渠道合作方的客户来访，跟进促成客户申请放款；</p>
						<p>3.维护好客户关系及合作渠道的关系及做好日常沟通；</p>
						<p>4.完成领导交办的其它事务。</p>
						<hr/>
						<h4>招聘要求：</h4>
						<p>1.大专及以上学历，接受应届毕业生，年龄21-30岁，有销售工作经验者优先；</p>
						<p>2.熟练使用OFFICE办公软件，具备良好的沟通能力、责任心和服务意识；</p>
						<p>3.性格外向，有亲和力，善于沟通和交际。</p>
						<hr/>
						<h4>工作时间：</h4>
						<p>周一至周五上午8:30-12:00，下午13:30-18:00；享受双休及法定节假日。</p>
						<hr/>
						<h4>工作地点：</h4>
						<p>成都市武候区航空路6号丰德国际广场A2-1601（桐梓林地铁旁）。</p>
						<hr/>
						<h4>工作待遇：</h4>
						<span style="color: red;">无责任底薪+高额提成（交通补助+餐补+社保+公积金+高额提成）</span>
						<span>，有意愿者可直接电话联系或将简历投递至（邮箱）。</span>
						<hr/>
						<h4>联系人:</h4>
						<span class="tab-span">李经理：18628888835</span>
						<span class="tab-span">何经理：13018290880</span>
						<hr/>
						<h4>投递方式:</h4>
						<span>请应聘者把简历以word格式、附件形式发送到</span>
						<span style="color: red;">1143030380@qq.com，961552356@qq.com</span>
						<span>，标题为"应聘+名字+职位名称"。</span>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane fade in" id="tab2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="tab-span">岗位名称：电话销售客户经理</span>
						<span class="tab-span">需求人数：20人</span>
						<span class="tab-span">有效期：2016年5月前有效</span>
					</div>
					<div class="panel-body">
						<h4>岗位职责：</h4>
						<p>1.负责搜集新客户的资料并进行沟通，开发新客户；</p>
						<p>2.通过电话与客户进行有效沟通了解客户需求，寻找销售机会并完成销售业绩；</p>
						<p>3.维护老客户的业务，挖掘客户的最大潜力；</p>
						<p>4.定期与合作客户进行沟通，建立良好的长期合作关系。</p>
						<hr/>
						<h4>招聘要求：</h4>
						<p>1.18-25岁，口齿清晰，普通话流利，语音富有感染力；</p>
						<p>2.对销售工作有较高的热情；</p>
						<p>3.具备较强的学习能力和优秀的沟通能力；</p>
						<p>4.性格坚韧，思维敏捷，具备良好的应变能力和承压能力；</p>
						<p>5.有敏锐的市场洞察力，有强烈的事业心、责任心和积极的工作态度，有相关电话销售工作经验者优先；</p>
						<p>6.同行业工作者晋升非常容易。</p>
						<hr/>
						<h4>工作时间：</h4>
						<p>周一至周五上午8:30-12:00，下午13:30-18:00；享受双休及法定节假日。</p>
						<hr/>
						<h4>工作地点：</h4>
						<p>成都市武候区航空路6号丰德国际广场A2-1601（桐梓林地铁旁）。</p>
						<hr/>
						<h4>工作待遇：</h4>
						<span style="color: red;">无责任底薪+高额提成（交通补助+餐补+社保+公积金+高额提成）</span>
						<span>，有意愿者可直接电话联系或将简历投递至（邮箱）。</span>
						<hr/>
						<h4>联系人:</h4>
						<span class="tab-span">李经理：18628888835</span>
						<span class="tab-span">何经理：13018290880</span>
						<hr/>
						<h4>投递方式:</h4>
						<span>请应聘者把简历以word格式、附件形式发送到</span>
						<span style="color: red;">1143030380@qq.com，961552356@qq.com</span>
						<span>，标题为"应聘+名字+职位名称"。</span>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane fade in" id="tab3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="tab-span">岗位名称：风控业管经理</span>
						<span class="tab-span">需求人数：3人</span>
						<span class="tab-span">有效期：2016年5月前有效</span>
					</div>
					<div class="panel-body">
						<h4>岗位职责：</h4>
						<p>1.对接银行，小贷公司等放款渠道，分配客户申请处理渠道；</p>
						<p>2.跟进处理渠道及电销的客户，促成客户放款；</p>
						<p>3.负责统计、核对销售数据并定期制定各类报表；</p>
						<p>4.负责保管客户资料；</p>
						<p>5.协助各部门经理开展日常工作。</p>
						<hr/>
						<h4>招聘要求：</h4>
						<p>1.大专及以上学历，应届毕业生可接受；</p>
						<p>2.熟练使用OFFICE办公软件，具备良好的沟通能力、责任心和服务意识；</p>
						<p>3.具备较强的学习能力和优秀的沟通能力；</p>
						<p>3.性格坚韧，思维敏捷，具备良好的应变能力和承压能力。</p>
						<hr/>
						<h4>工作时间：</h4>
						<p>周一至周五上午8:30-12:00，下午13:30-18:00；享受双休及法定节假日。</p>
						<hr/>
						<h4>工作地点：</h4>
						<p>成都市武候区航空路6号丰德国际广场A2-1601（桐梓林地铁旁）。</p>
						<hr/>
						<h4>工作待遇：</h4>
						<span style="color: red;">无责任底薪+高额提成（交通补助+餐补+社保+公积金+高额提成）</span>
						<span>，有意愿者可直接电话联系或将简历投递至（邮箱）。</span>
						<hr/>
						<h4>联系人:</h4>
						<span class="tab-span">李经理：18628888835</span>
						<span class="tab-span">何经理：13018290880</span>
						<hr/>
						<h4>投递方式:</h4>
						<span>请应聘者把简历以word格式、附件形式发送到</span>
						<span style="color: red;">1143030380@qq.com，961552356@qq.com</span>
						<span>标题为"应聘+名字+职位名称"。</span>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane fade in" id="tab4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="tab-span">岗位名称：人事行政</span>
						<span class="tab-span">需求人数：1人</span>
						<span class="tab-span">有效期：2016年5月前有效</span>
					</div>
					<div class="panel-body">
						<h4>岗位职责：</h4>
						<p>1.公司人员招聘，公司员工公积金和社保购买事宜；</p>
						<p>2.公司员工工资核算，日常网络维护，客户来访接待；</p>
						<p>3.公司人事档案管理，及领导交办的其他事宜。</p>
						<hr/>
						<h4>招聘要求：</h4>
						<p>1.大专及以上学历，应届毕业生可接受；</p>
						<p>2.熟练使用OFFICE办公软件，具备良好的沟通能力、责任心和服务意识；</p>
						<p>3.具备较强的学习能力和优秀的沟通能力；</p>
						<p>4.性格坚韧，思维敏捷，具备良好的应变能力和承压能力。</p>
						<hr/>
						<h4>工作时间：</h4>
						<p>周一至周五上午8:30-12:00，下午13:30-18:00；享受双休及法定节假日。</p>
						<hr/>
						<h4>工作地点：</h4>
						<p>成都市武候区航空路6号丰德国际广场A2-1601（桐梓林地铁旁）。</p>
						<hr/>
						<h4>工作待遇：</h4>
						<span style="color: red;">无责任底薪+高额提成（交通补助+餐补+社保+公积金+高额提成）</span>
						<span>，有意愿者可直接电话联系或将简历投递至（邮箱）。</span>
						<hr/>
						<h4>联系人:</h4>
						<span class="tab-span">李经理：18628888835</span>
						<span class="tab-span">何经理：13018290880</span>
						<hr/>
						<h4>投递方式:</h4>
						<span>请应聘者把简历以word格式、附件形式发送到</span>
						<span style="color: red;">1143030380@qq.com，961552356@qq.com</span>
						<span>标题为"应聘+名字+职位名称"。</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>