body {
	font-family: Segoe UI;
	font: 16px "Microsoft YaHei UI", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.navbar {
	margin-right: -15px;
	margin-left: -15px;
}

.container {
	padding-right: 0;
	padding-left: 0;
}

	.container .control-label {
		padding-top: 7px;
		text-align: right;
	}

.modal .form-horizontal .control-label {
	padding-top: 6px;
	text-align: right;
}

.form-select {
	height: 21px;
	padding-top: 0;
	padding-bottom: 0;
}

/*home page*/
#home-header {
	height: 200px;
	background-color: lightgreen;
}

/*business page*/
#business-wall {
	margin-left: 200px;
}

.nav li a span {
	padding-top: -8px;
}

	.nav li a span:hover {
		color: red;
	}

.nav span a {
	color: red;
}

	.nav span a:hover {
		text-decoration: none;
	}

/*wechat*/
.container-wechat {
	padding-right: 0;
	padding-left: 0;
}

	.container-wechat .control-label {
		padding-top: 7px;
		text-align: right;
	}

	.container-wechat .tab-content .form-control[readonly] {
		background-color: #DDF9DA;
	}

	.container-wechat .panel .form-control[readonly] {
		background-color: #DDF9DA;
	}

	.container-wechat .tab-content .tab-pane {
		border: 1px solid #ddd;
		border-top: none;
		padding: 5px;
	}
