body {
	font-family: Segoe UI;
	font: 16px "Microsoft YaHei UI", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

/*home page*/
#home-header {
	height: 200px;
	background-color: lightgreen;
}

.container .control-label {
		padding-top: 6px;
		text-align: right;
	}

.modal .form-horizontal .control-label {
	padding-top: 6px;
	text-align: right;
}

/*wechat*/
.container-wechat {
	padding-right: 5px;
	padding-left: 5px;
}

	.container-wechat .control-label {
		padding-top: 6px;
		text-align: right;
	}

	.container-wechat .tab-content .form-control[readonly] {
		background-color: #DDF9DA;
	}

	.container-wechat .panel .form-control[readonly] {
		background-color: #DDF9DA;
	}

	.container-wechat .tab-content .tab-pane {
		border: 1px solid #ddd;
		border-top: none;
		padding: 5px;
	}
