body {
	font-family: Segoe UI;
    font: 16px "Microsoft YaHei UI", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

/*home page*/
#home-header {
	height: 200px;
	background-color: lightgreen;
}
