<link href="stylesheets/404main.css" rel="stylesheet" type="text/css">
<form id="form1" runat="server">
	<div class="wrapper">
		<div class="left_content">
			<div class="title"></div>
			<div class="word_content">
				<h3>最可能的原因是：</h3>
				<p>1、您打开的网址可能不正确</p>
				<p>2、您浏览的网页可能已被删除、重命名或暂时不可用</p>
				<p style="margin-top:10px;">
					<span>您也可以：</span>
					<a href="/">返回首页</a>
				</p>
			</div>
		</div>
		<div class="right_content right"></div>
		<div class="clear"></div>
	</div>
</form>