<!--顶部-->
<div class="top">
    <div style="float: left"><span style="font-size: 16px;line-height: 45px;padding-left: 20px;color: #fff">百城金融管理中心</h1></span></div>
    <div id="ad_setting" class="ad_setting">
        <a class="ad_setting_a" href="javascript:; ">chen@qq.com</a>
        <ul class="dropdown-menu-uu" style="display: none" id="ad_setting_ul">
            <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-user glyph-icon"></i>个人中心</a> </li>
            <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-cog glyph-icon"></i>设置</a> </li>
            <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-signout glyph-icon"></i> <span class="font-bold">退出</span> </a> </li>
        </ul>
        <img class="use_xl" src="img/right_menu.png" />
    </div>
</div>
<!--顶部结束-->
<!--菜单-->
<div class="left-menu">
    <ul id="menu">
        <li class="menu-list">
            <a style="cursor:pointer" class="firsta"><i  class="glyph-icon xlcd"></i>企业管理<s class="sz"></s></a>
            <ul>
                <li><a href="/members" target="menuFrame"><i class="glyph-icon icon-chevron-right1"></i>员工管理</a></li>
            </ul>
        </li>
        <li class="menu-list">
            <a style="cursor:pointer" class="firsta"><i  class="glyph-icon xlcd"></i>产品与服务<s class="sz"></s></a>
            <ul>
                <li><a href="/home" target="menuFrame"><i class="glyph-icon icon-chevron-right2"></i>产品管理</a></li>
                <li><a href="/home" target="menuFrame"><i class="glyph-icon icon-chevron-right3"></i>成功案例管理</a></li>
            </ul>
        </li>
    </ul>
</div>



<div id="right-content" class="right-content">
    <div class="content">
            <% include member%>
    </div>
</div>


